// Bulma
@import "~bulma/bulma.sass";

$night: #171C28;
$day: #fff;
$nightBtn: #fff;
$dayBtn: #5628EE;

a {
    text-decoration: underline;
    text-decoration-color: #209cee !important;
    text-shadow: 0 0 2px rgba(0, 0, 3, .2);
}

.links {
    margin-left: 10px;
    &:first-child {
        margin-left: 0;
    }
}

.image {
  margin: 0 auto;
}

.background-padding {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}
