// Bulma
@import "~bulma/bulma.sass";

a {
    text-decoration: underline;
    text-decoration-color: #209cee !important;
    text-shadow: 0 0 2px rgba(0, 0, 3, .2);
}

.links {
    margin-left: 10px;
    &:first-child {
        margin-left: 0;
    }
}

.image {
  margin: 0 auto;
}
